<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <div>
            <label for="email">Email</label>
            <input name="email" type="email" placeholder="Email ...">
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input name="password" type="password" placeholder="Mot de passe ...">
        </div>
        <div>
            <label for="firstname">Prénom</label>
            <input name="firstname" type="text" placeholder="Prénom ..."> 
        </div>
        <div>
            <label for="lastname">Nom de famille</label>
            <input name="lastname" type="text" placeholder="Nom de famille ..."> 
        </div>
        <div>
            <button type="submit">GO !</button>
        </div>
    </form>
</body>
</html>